bin
obj

*.mdb
/GameData/FerramAerospaceResearch/Custom*.cfg
/GameData/FerramAerospaceResearch/FARForceDataUpdate.cfg
*.suo
*.DotSettings
*.user
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF6.0-CP100.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF6.0-CP0.25.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF55-CP100.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF55-CP0.25.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF1.5-CP100.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF1.5-CP0.25.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF0.15-CP100.png
/GameData/ProcEngines/PropellantMixtures/CH4_LOX-OF0.15-CP0.25.png
/methalox.cfg
/GameData/ProcEngines/PropellantMixtures/data 03.90/results.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP100.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP075.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP050.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP040.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP035.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP030.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP025.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP020.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP015.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP010.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP008.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP006.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP004.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP001.00.txt
/GameData/ProcEngines/PropellantMixtures/data 03.90/CH4_LOX-OF3.9-CP000.25.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/results.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP100.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP075.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP050.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP040.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP035.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP030.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP025.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP020.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP015.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP010.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP008.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP006.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP004.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP001.00.txt
/GameData/ProcEngines/PropellantMixtures/data 02.00/CH4_LOX-OF2.0-CP000.25.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/results.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP100.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP075.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP050.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP040.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP035.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP030.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP025.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP020.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP015.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP010.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP008.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP006.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP004.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP001.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.50/CH4_LOX-OF1.50-CP000.25.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/results.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP100.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP075.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP050.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP040.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP035.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP030.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP025.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP020.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP015.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP010.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP008.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP006.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP004.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP001.00.txt
/GameData/ProcEngines/PropellantMixtures/data 01.00/CH4_LOX-OF1.00-CP000.25.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/results.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP100.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP075.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP050.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP040.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP035.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP030.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP025.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP020.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP015.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP010.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP008.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP006.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP004.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP001.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.50/CH4_LOX-OF0.50-CP000.25.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/results.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP100.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP075.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP050.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP040.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP035.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP030.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP025.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP020.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP015.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP010.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP008.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP006.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP004.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP001.00.txt
/GameData/ProcEngines/PropellantMixtures/data 00.15/CH4_LOX-OF0.25-CP000.25.txt
/GameData/ProcEngines/PropellantMixtures/config_parser.py
